<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="test for chrome">
        <parameter name="evn" value="production"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.ABTest"/>
            <class name="tests.AddRemoveTest"/>
            <class name="tests.Broken_ImgTest"/>
            <class name="tests.BasicAuthTest"/>
            <class name="tests.Form_AuthTest"/>
        </classes>
    </test>
    <test name="test for edge">
        <parameter name="evn" value="production"/>
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="tests.ABTest"/>
            <class name="tests.AddRemoveTest"/>
            <class name="tests.Broken_ImgTest"/>
            <class name="tests.BasicAuthTest"/>
            <class name="tests.Form_AuthTest"/>
        </classes>
    </test>
</suite>